@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300&family=Source+Sans+Pro:ital,wght@0,300;1,300&display=swap');

:root{
    --primary-color: darkviolet;
    --secondary-color: darkblue;
    --primary-grad-color: linear-gradient(to left,darkviolet,deepskyblue);
}

*{
    box-sizing: border-box;
}

body{
    font-family: 'Source Sans Pro', sans-serif;

    padding: 0;
    margin: 0;
}

/* Start Header */
/* Start Header Intro */
.headerintros{
    background-color: var(--primary-color);
    color: #fff;
    padding: 15px 0;

    display: none;
}

@media (min-width: 1200px){
    .visiblelgs{
        display: block;
    }
}

.infos{
    display: flex;
    justify-content: space-between;
    align-items: center;

    font-size: 14px;
    font-weight: bold;
}

.headericons a{
    color: #fff;
    margin: 0 10px;
}
/* End Header Intro */


header{
    height: 80vh;
    background: var(--primary-grad-color);

    position: relative;
}

/* Start Nav Bar */
nav{
    position: relative;
    z-index: 1;
}

.menustyles li a{
    color: #000;
    font-size: 13px;
    letter-spacing: 1.5px;
    margin-left: 10px;

    transition: color .5s;
}

.menustyles li a:hover{
    color: var(--primary-color);
}

.navbuttons{
    border: none;
}

.navbuttons:focus{
    box-shadow: none;
}

.lines1,.lines2,.lines3{
    width: 17px;
    height: 2px;
    margin: 3px;
}

.crossxs .lines1{
    transform: rotate(-45deg) translate(-3px,4px);
}

.crossxs .lines2{
    opacity: 0;
}

.crossxs .lines3{
    transform: rotate(45deg) translate(-3px,-4px);
}

/* End Nav Bar */


/* Start Banner */
.banners{
    width: 90%;

    position: absolute;
    left: 50%;
    top: 50%;

    transform: translate(-50%,-50%);
}

.bannerheaders{
    font-weight: bold;
    letter-spacing: 3px;
    animation: bnanis 2s;
}

.bannerparagraphs,.banner-btn{
    animation-name: bnanis;
    animation-duration: 2s;
    animation-delay: .5s;

    animation-fill-mode: backwards;
}

@keyframes bnanis{
    from{
        transform: translateY(100px);
        opacity: 0;
    }
    to{
        transform: translateY(0px);
        opacity: 1;
    }
}

/* End Banner */

.studentgroups{
    width: 46%;

    position: absolute;
    bottom: 0;
    left: 0;

    z-index: 1;
}

.waves{
    width: 100%;

    position: absolute;
    bottom: -5px;
    left: 0;

    z-index: 2;
}

/* End Header */


/* Start Students Counter Section */
.counters{
    width: 100%;
    height: 20vh;
    font-weight: bold;
    letter-spacing: 2px;

    display: flex;
    justify-content: center;
    align-items: center;
}

.counteritems{
    float: left;

    width: 25%;
    text-align: center;

    border-right: 1px solid rgba(0, 0, 0, 0.4);
}

.counteritems:last-child{
    border-right: none;
}

.counteritems .fas{
    background: var(--primary-grad-color);
    color: transparent;
    -webkit-background-clip: text;
}

.counteritems h5{
    font-size: 15px;
    font-weight: bold;
}
/* End Students Counter Section */


/* Start About Us Section */
.aboutuss{
    background-image: linear-gradient(
        rgba(0,0,0,0.3),
        rgba(0,0,0,0.3)
        ),url('../assets/img/banner/banner4.jpg');
    background-repeat: no-repeat;
}

.aboutuss ul li{
    list-style-type: none;
    background-color: var(--secondary-color);
    margin: 20px 0;
}
/* End About Us Section */


/* Start Faculty Section */
.faculties{
    background-color: var(--secondary-color);
}

.flip-cards{
    width: 300px;
    height: 300px;

    perspective: 1000px;
}

.flip-card-inners{
    width: 100%;
    height: 100%;
    text-align: center;
    box-shadow: 10px 0 10px rgba(0, 0, 0, 0.5);

    transform-style: preserve-3d;

    transform: rotateY(-45deg) scale(0.7);

    transition: transform .5s;
}

.flip-cards:hover .flip-card-inners{
    transform: rotateY(180deg);
}

.flip-card-fronts,.flip-card-backs{
    width: 100%;
    height: 100%;

    position: absolute;

    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}

.flip-card-backs{
    color: #fff;
    background-color: steelblue;
    transform: rotateY(180deg);
}

.socialicons a{
    color: #fff;
    border: 1px solid #f4f4f4;
    padding: 5px;
    margin: 0 5px;
}

.socialicons a:hover{
    background-color: blue;
}
/* End Faculty Section */


/* Start Pricing Section */
.pricingboxes{
    background-color: #eee;
    text-align: center;

    transition: transform .3s;
}

.pricingboxes:hover{
    transform: translateY(-20px);
}

.price-headers{
    background-color: var(--secondary-color);
    color: #fff;
    padding: 10px 0;
}

.prices{
    font-size: 3rem;
    font-weight: bold;
    background: url('./../assets/img/icon/pricebg.png');
    background-repeat: no-repeat;
    background-position: center;

    line-height: 160px;
}

.price-items li{
    margin: 10px 0;
}
/* End Pricing Section */


/* Start Location Area Section */
.libcards{
    perspective: 1000px;

    position: relative;
}

.libcontents{
    width: 0;
    height: 100%;
    background-color: #444;
    color: #fff;

    position: absolute;
    top: 0;
    left: 0;

    transform: rotateY(-90deg);
    transform-origin: left center;

    transition: all .5s;
}

.libcards:hover .libcontents{
    width: 70%;
    transform: rotateY(0deg);
}

.btn-infos{
    width: 50%;
    background-color: steelblue;
    color: #fff;
    text-align: center;
    text-decoration: none;

    position: absolute;
    bottom: 10px;
    left: 10px;
}

.btn-infos:hover{
    background-color: var(--secondary-color);
    color: #fff;
}
/* End Location Area Section */


/* Start Features Section */
.features{
    background-color: var(--secondary-color);
}

.feas img{
    transform: rotateY(0) scale(.5);

    transition: transform .5s;
}

.feas:hover img{
    transform: rotateY(1turn) scale(1);
}

.feas p{
    font-size: 12px;
}
/* End Features Section */


/* Start Rating Section */
.headings{
    font-size: 25px;
    margin-right: 25px;
}

.fa-star{
    font-size: 25px;
}

.fills{
    color: orange;
}

.rows{
    display: flex;
    flex-wrap: wrap;
}

.lefts{
    width: 20%;
    margin-bottom: 12px;

    z-index: 1;
}

.middles{
    width: 60%;
}

.rights{
    width: 20%;
    text-align: right;
}

.bars-container{
    width: 100%;
    background-color: #f1f1f1;
}

.bars-1{
    width: 60%;
    height: 18px;
    background-color: rgb(9, 219, 9);
}

.bars-2{
    width: 30%;
    height: 18px;
    background-color: rgb(59, 59, 255);
}

.bars-3{
    width: 10%;
    height: 18px;
    background-color: rgb(24, 190, 255);
}

.bars-4{
    width: 5%;
    height: 18px;
    background-color: rgb(255, 170, 13);
}

.bars-5{
    width: 15%;
    height: 18px;
    background-color: rgb(255, 36, 36);
}
/* End Rating Section */


/* Start Subscribe Section */
.subscribes{
    background-image: linear-gradient(rgba(0,0,0,0.3),rgba(0,0,0,0.2)), url('../assets/img/etc/student1.png');
    background-repeat: no-repeat;
    background-position: 90%;

    overflow: hidden;
}

@media (max-width: 992px){
    .subscribes{
        background-image: linear-gradient(rgba(0,0,0,0.3),rgba(0,0,0,0.2));
    }
}

.input-group-text{
    background-color: royalblue;
    color: #fff;
    padding-top: 10px;
}

.subscribes .forms .btn{
    background-color: royalblue;
    color: #fff;
}

.squareareas{
    position: relative;
}

.sqboxes{
    width: 100%;
    height: 100%;

    overflow: hidden;
}

.square{
    width: 70px;
    height: 70px;
    background-color: #f2f2f2;

    position: absolute;
    bottom: 0;
    left: 0;

    animation: sqani 3s infinite backwards ease-in-out;
}

.square:nth-child(1){
    width: 85px;
    height: 85px;
    left: 90%;

    animation-delay: 1s;
}

.square:nth-child(2){
    width: 18px;
    height: 18px;
    left: 15%;

    animation-delay: 1.8s;
}

.square:nth-child(3){
    width: 76px;
    height: 76px;
    left: 83%;

    animation-delay: 5s;
}

.square:nth-child(4){
    width: 72px;
    height: 72px;
    left: 80%;

    animation-delay: 5.2s;
}

.square:nth-child(5){
    width: 25px;
    height: 25px;
    left: 30%;

    animation-delay: 6s;
}

.square:nth-child(6){
    width: 65px;
    height: 65px;
    left: 75%;

    animation-delay: 4.7s;
}

.square:nth-child(7){
    width: 45px;
    height: 45px;
    left: 45%;

    animation-delay: 2.8s;
}

.square:nth-child(8){
    width: 60px;
    height: 60px;
    left: 20%;

    animation-delay: 7.5s;
}

.square:nth-child(9){
    width: 50px;
    height: 50px;
    left: 70%;

    animation-delay: 8s;
}

.square:nth-child(10){
    width: 55px;
    height: 55px;
    left: 63%;

    animation-delay: 3s;
}

@keyframes sqani{
    0%{
        bottom: -120px;
    }

    100%{
        bottom: 100%;
        transform: rotate(180deg);
        opacity: 0;
    }
}
/* End Subscribe Section */


/* Start Footer Section */
.footerlinks{
    color: #eee;
    font-size: 13px;
    text-decoration: none;
}

.footersocialicons a{
    width: 30px;
    height: 30px;
    border: 1px solid #fff;
    border-radius: 50%;
    color: #fff;
    display: inline-block;

    text-align: center;
    line-height: 30px;
}

.footersocialicons a:hover{
    background-color: royalblue;
}

.backtotop-btn{
    background-color: #333;
    color: #fff;
    border-radius: 5px;
    padding: 10px;
}

.backtotop-btn:hover{
    background-color: #555;
}
/* End Footer Section */


/* Start Stick Note */
.sticknotes a{
    width: 100px;
    background-color: steelblue;
    color: #fff;
    text-decoration: none;
    font-size: 20px;
    border-radius: 0 5px 5px 0;

    padding: 15px;

    position: fixed;
    left: 0;

    z-index: 10;

    transform: translateX(-76%);
    transition: transform .7s;
}

.sticknotes a:hover{
    transform: translateX(0);
}

.sticknotes .aboutus{
    background-color: rgb(37, 255, 41);
    top: 200px;
}

.sticknotes .pages{
    background-color: slateblue;
    top: 260px;
}

.sticknotes .news{
    background-color: tomato;
    top: 320px;
}

.sticknotes .contact{
    background-color: gray;
    top: 380px;
}
/* End Stick Note */


/* Start Login Box */
.open-btn{
    width: 30px;
    height: 30px;
    border: none;
    border-radius: 50%;
    background-color: #555;
    color: #fff;

    position: fixed;
    bottom: 15px;
    right: 10px;

    opacity: .8;

    z-index: 5;
}

.open-btn:hover{
    opacity: 1;
}

.form-popup{
    background-color: #fff;
    border: 3px solid #f1f1f1;
    border-radius: 5px;

    position: fixed;
    bottom: 50px;
    right: 10px;

    z-index: 10;

    display: none;

    transition: all .3s;
}

.form-container{
    width: 300px;
    padding: 10px;
}

.form-group input[type=email], .form-group input[type=password]{
    width: 100%;
    background-color: #f1f1f1;
    border: none;

    padding: 15px;
    margin: 10px 0;
}

.form-group input[type=email], .form-group input[type=password]:focus{
    background-color: #ddd;
    outline: none;
}
/* End Login Box */